@font-face {
    font-family: "HelveticaNeueLTStd-ExO";
    src: url('../font/2-9409-HelveticaNeueLTStd-ExO.otf');
}
.wall{
    width: 100%;
    height: 3240px;
    background-image: url("../img/background.png");
    margin-top: 0;

}
.over{
    background-image: url("../img/background.png");
}
.left {
    background-image: url("../img/bg-xam_left.png");
    width: 96px;
    margin-left: 146px;
    float: left;
    background-repeat: repeat-y;
    height: 2518px;
}

.right {
    background-image: url("../img/bg-xam_right.png");
    width: 100px;
    float: left;
    background-repeat: repeat-y;
    height: 2500px;
}

.all {
    width: 1108px;
    margin: auto;
    background-image: url("../img/background.png");
    height: 2520px;
    font-family: 'Asap', sans-serif;
    float: left;
}

/*header*/
.header {
    height: 53px;
    width: 100%;
    background-image: url("../img/background_header.png");
    color: darkgray;

}

.header img {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.header a {
    margin-top: 5px;
    font-size: 19px;
    float: left;
}

.header p {
    margin-top: 0px;
    font-size: 13px;
    float: left;
}

#he1 {
    width: 370px;
    float: left;
}

.header #he1 p {
    display: block;
    position: relative;
    top: 6.5px;
    left: -130px;
}

#he2 {
    width: 400px;
    float: left;
}

#he3 {
    float: left;
}

/*thanh search co chua ca logo */
.search {
    width: 1108px;
    height: 110px;
    background: white;

}

.search .logo {
    width: 277px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 0px;
}

.search .box {
    width: 440px;
    height: 40px;
    border: 1px solid black;
    margin-top: 42px;
    margin-left: 93px;
    float: left;
}

.search .box input {
    width: 398px;
    height: 34px;
    float: left;
    outline: none;
}

.search .box button {
    float: left;
    width: 38px;
    height: 40px;
    background-image: url("../img/bg_search.png");
    border: 1px solid red;
}

.search .login {
    float: left;
    font-size: 12pt;
    color: black;
    margin-left: 85px;
    margin-top: 54px;
    margin-bottom: 52px;
}

.search .login a {
    text-decoration: none;
    color: black;
}
.search .login a:hover{
    color: red;
}
.search .login .gio_hang {
    float: right;
    margin-left: 15px;
}

.search .login .gio_hang .numberCart {
    position: relative;
    top: -15px;
    right: 29px;
    color: #ccc;
}

.search .login .gio_hang .cartCycle {
    position: relative;
    top: -10px;
    left: -11px;
}

/*thanh menu*/
.menu {
    height: 65px;
    background: white;
    list-style-type: none;
    text-align: center;
    padding-bottom: 40px;

}

.menu li {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
}

.menu ul {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
}

.menu li a {
    text-decoration: none;
    padding: 25px;

}

.menu ul a:hover {
    background-image: url("../img/bg_menu_cap2.png");
}

.menu li ul {

    position: absolute;
    display: none;
    width: 241px;
    background-image: url("../img/bg_menu_cap2.png");
}

.menu li ul a {
    padding: 0px;
}

.menu li:hover ul {
    display: block;
}

.menu_left {
    float: left;
}

.menu .menu_left ul li a {
    color: black;
    font-size: 18px;

}

.menu_right {

    padding: 10px;
    margin-top: 10px;
    float: left;
    margin-left: 80px;
}

.menu_right #dt {
    margin-left: 10px
}

.menu_right .sdt {
    margin-top: 0px;
    float: right;
    margin-left: 10px;

}

.menu_right .sdt a {
    font-size: 22px;
    margin-left: 0px;
}

.menu_right .sdt p {
    margin-top: 0px;
    margin-left: 0px;
    color: #ccc;
    font-size: 12px;
    margin-right: 0px;
}

/*banner*/

.banner {
    height: 660px;
    background: white;
    margin: auto;

}

.container {
    height: 645px;
    background-image: url("../img/img_1.png");
    background-repeat: no-repeat;
    margin-left: 14px;
    color: white;
    margin-bottom: 0px;
}

.container #T1 {
    margin: auto;
    padding-top: 190px;
    margin-left: 295px;
    font-size: 80px;
    font-style: italic;
}
#T1:hover{
    color: red;
}
#T2:hover{
    color: red;
}
.container #T2 {
    margin: auto;
    margin-left: 175px;
    font-family: 'Raleway', sans-serif;
    font-size: 134px;
}

.container #T3 #btnShop {
    background-image: url("../img/bg_buttom_shopping.png");
    width: 196px;
    height: 52px;
    margin-left: 442px;
    margin-top: 90px;
    border: 1px solid red;
}

#btnShop {
    color: white;
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    font-size: 23px;
}
#btnShop:hover{
    color: black;
}
.four {

    background: white;
    color: white;
    font-family: 'Asap', sans-serif;
    font-size: 50px;
    height: 880px;
    margin: auto;
    text-align: center;
}

.four .hang1 #pic1 {
    width: 530px;
    height: 430px;
    background-image: url("../img/img_2.png");
    background-repeat: no-repeat;
    margin-bottom: 10px;
    float: left;
    margin-left: 14px;

}


.four .hang1 #pic2 {
    width: 530px;
    height: 430px;
    background-image: url("../img/img_3.png");
    background-repeat: no-repeat;
    margin-bottom: 10px;
    float: left;
    margin-left: 15px;
}

.four .hang1 #pic3 {
    width: 530px;
    height: 430px;
    background-image: url("../img/img_4.png");
    background-repeat: no-repeat;
    margin-bottom: 0px;
    float: left;
    margin-left: 14px;
}

.four .hang1 #pic4 {
    width: 530px;
    height: 430px;
    background-image: url("../img/img_5.png");
    background-repeat: no-repeat;
    margin-bottom: 0px;
    float: left;
    margin-left: 15px;
}

#textFour {
    margin-top: 200px;
}
#textFour:hover{
    color: red;
    background:white;

}
.trademark {
    width: 1108px;
    height: 710px;
    background: white;
    margin: auto;
}

.custom1 {
    width: 1080px;
    height: 160px;
    background-image: url("../img/bg_trade.png");
    margin: auto;
    margin-bottom: 10px;
}

.custom2 {
    width: 1080px;
    height: 530px;
    background: white;
    margin: auto;
    margin-bottom: 10px;
}

.custom2 .dstab{
    width: 1080px;
    height: 43px;
    list-style-type: none;
    background-image: url("../img/background.png");
    margin: auto;
    float: left;
}
.custom2 .dstab li{
    float: left;
    list-style-type: none;
    top:-8px;
    margin-right: 30px;
    overflow: hidden;
    position: relative;
    font-family: 'Asap', sans-serif;
    font-size: 17px;
    color: black;
    margin-left: 30px;
    margin-top: 10px;
    float: left;
    text-decoration: none;
}



.dstab li:hover {
    color: red;
}
.custom2 .box-tab{
    width: 1080px;
    height: 420px;
    float: left;
}
.cover {
    width: 280px;
    height: 412px;

    border-right: 1px solid #cccccc;
    margin: 20px;
    float: left;
    font-family: 'Asap', sans-serif;
    margin-left: 5 px;

}

.cover #c1 {
    margin-top: 91px;
    font-size: 56px;
}

.cover #c2 {
    font-size: 17px;
}

.slide-sp {
    width: 630px ;
    height: 412px;
    float: left;
    margin: 20px;

}
.tab_container {

    border-top: none;
    clear: both;
    float: left;
    width: 700px;
    height: 450px;
    background: #FFFFFF;
}

.tab_content {
    width: 700px;
    height: 450px;
    padding: 20px;
    font-size: 1.2em;
    display: none;
}

.footer {
    width: 100%;
    height: 730px;
    background: white;
    float: left;
    clear: both;
}
.btnJoin{
    height: 270px;
    background-image: url("../img/bg_footer.png");
    font-family: 'Asap', sans-serif;
    font-size: 23pt;
    color: white;
}
.btnJoin #textJoin{
    padding: 50px;
    margin-left: 275px;
}
.boxJ{
    margin: auto;
    height: 81px;
    width: 600px;
    margin-left: 560px;

}
.boxJ input{
    width: 450px;
    height: 70px;
    font-size: 22px;
    font-weight: bold;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.boxJ button{
    width: 130px;
    height: 75px;
    background: black;
    color: white;
    font-size: 14pt;
    margin-left: -8px;
    border: 1px solid black;
    padding-top: 3px;
    border-radius: 7px;
}
.boxJ button:hover{
    background: blue;
}
.info{
    width: 100%;
    height: 400px;
    background-image: url("../img/background.png");
    float: left;
    clear: both;
    font-family: 'Asap', sans-serif;

}
.info #IF1{
    width: 455px;
    height: 360px;
    margin-top: 40px;

    float: left;
    margin-left: 210px;
}
#IF1 img{
    margin-left: 35px;
}
#IF1 #descri{
    font-size: 15px;
    padding: 35px;
    padding-top: 30px;
    font-weight: 100;
}
#IF1 #phone b{
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}
#IF1 #phone img{
    width: 20px;
}
#soLienHe{
    margin-left: 40px;
    font-size: 36px;
    color: #869791;
}
.info #IF2 , #IF3,#IF4{
    width: 210px;
    height: 360px;
    margin-top: 40px;

    float: left;
}
#tieude{
    margin-top: 25px;
    margin-left: 19px;
}

#dsach ul li {
    list-style-type: none;
    margin: 5px;
    margin-left: -16px;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 10px;
}
#dsach ul li:hover{
    color: red;
}
.NhaSanXuat{
    height: 60px;
    width: 100%;
    float: left;
}
#textNSX{
    margin-top: 20px;
    text-align: center;
    color: #869791;
    font-weight: 100;
}
.slide_nho img{
    padding-left: 5px;
}
#MoTa{
    width: 150px;
    font-size: 11pt;
    margin-top: 40px
}
#Gia{
    height: 49px;
    font-size: 25pt;
    color: red;
    text-align: center;
}

/*slide phan san pham*/
.slide_nho {
    box-sizing: border-box;
    height: 300px;
    margin-top: -40px;
}

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;

}

.slick-slide img {
    width: 160px;
    height: 340px;
}

.slick-prev:before{
    background-image: url(../img/a03.1.png);
    background-repeat: no-repeat;
    height: 30px;
}
.slick-next:before{
    background-image: url(../img/a03.2.png);
    background-repeat: no-repeat;
    height: 30px;
    right: -60px;
    color: black;

}