.slide-holder {
    margin: 0 auto;
    height: 200px;
    width: 1080px !important;
}

.slide-container { /*slide-container là khối bao mà slide-stage có thể "trượt" bên trong */
    height: 130px;
    left: 40px;
    position: relative;
    top: 15px;
    width: 1000px;
}

.slide-stage {
    position: absolute;
    height: 130px;
    left: 30px !important;
    width: 950px !important;
}

.slide-image { /*Độ rộng của .slide-image có thể được thay đổi theo nhu cầu, ảnh hưởng đến độ rộng chung của slideshow*/
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 34px !important;
    text-align: center;
}

.slide-image img {
    width: 70%;
    margin: 10px;
    padding-left: 10px;
}

.slide-pager {
    position: relative;
}

.slide-control-prev {
    position: absolute;
    text-align: center;
    width: 25px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
    top: 55px;
    left: 0px;
}

.slide-control-next {
    position: absolute;
    text-align: center;
    width: 25px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
    right: 0px;
    top: 55px;
}

/*tab*/
.tab-wrapper {

    width: 1080px;
    height: 43px;
    list-style-type: none;
    background-image: url("img/background.png");
    margin: auto;
    float: left;
}

.tab-wrapper ul {
    overflow: hidden;

    margin: 0px;
    padding: 0px;
}

.tab-wrapper ul li {

    list-style: none;
    padding: 10px 20px;
    background-image: url("img/background.png");
    list-style-type: none;
    top:-15px;
    margin-right: 30px;
    overflow: hidden;
    position: relative;
    font-family: 'Asap', sans-serif;
    font-size: 17px;
    color: black;
    margin-left: 30px;
    margin-top: 10px;
    float: left;
    text-decoration: none;
}

.tab-wrapper ul li.active {
    background-image: url("img/background.png");

}

.tab-wrapper ul li.active a {
    color: red;
}

.tab-wrapper ul li a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.tab-content {
    padding: 20px;
    background-image: url("img/background.png");
    width: 1000px;
    height: 412px;

    border-right: 1px solid #cccccc;
    margin: 20px;
    float: left;
    font-family: 'Asap', sans-serif;
    margin-left: 5 pxs;
}

.tab-item {
    width: 1000px;
    height: 412px;
}
    /**/